@media only screen and (min-width: 64rem) {
    /*----------- BODY --------------*/
    /*----------- HEADER --------------*/
    header {
        justify-content: flex-end;
        padding: 12px 0;
        font-size: 24px;
    }
    .logo {
        position: absolute;
        top: 4px;
        left: 0;
    }
    .contact {
        margin-left: 12px;
    }
    /*----------- NAVIGATION --------------*/
    /*----------- MAIN --------------*/
    /*----------- FOOTER --------------*/
    /*----- Home specific css -----*/
    /*----- Rental specific css -----*/
    .rentalInfo li {
        font-size: 17px;
    }
    /*----- Reservations specific css -----*/
    form label.sbs {
        padding: .4rem 0;
    }
    form fieldset {
        max-width: 1000px;
    }
    form input.submitBtn {
        max-width: 1000px;
    }
    /*----- Tour specific css -----*/
    .tourCards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .tourSection:hover {
        box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.3);
    }
    .tourSection {
        display: grid;
        width: 90%;
        margin: auto;
        margin-top: 1em;
    }
    .tourInfo h2 {
        margin-top: 1em;
    }
    .tourInfo {
        width: 90%;
        margin: auto;
    }
    .tourImg {
        margin: 0 auto;
        border-radius: 0 0 1em 1em;
    }
    .tourSection:nth-child(even) .tourImg {
        border-radius: 0 0 1em 1em;
    }
    /*----- Contact specific css -----*/
    .blockIt {
        display: flex;
    }
    .info {
        max-width: 400px;
    }
    .contactField {
        max-width: 1000px;
    }
    /*----- Pupper specific css -----*/
    #pupper {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    #pupper h2{
        grid-row: 1/2;
        grid-column: 1/4;
    }
} /* end of media query */