@media only screen and (min-width: 35rem) {
    /*----------- BODY --------------*/
    body {
        font-size: 1.25rem;
    }
    /*----------- HEADER --------------*/
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px 0;
        margin: 0;
        font-size: 20px;
    }
    .contact {
        position: static;
        overflow: hidden;
        white-space: nowrap;
        margin-right: 12px;
    }
    .logo {
        margin: 0 auto 0 12px;
    }
    /*----------- NAVIGATION --------------*/
    .navBar {
        display: flex;
        padding-top: 0;
    }
	.navBar li {
        display: inline-block;
        padding: 0px 8px;
        overflow: hidden;
        white-space: nowrap;
    }
	.navBar li:first-child {
		display: none;
    }
    .active {
        width:100%;
    }
    /*----------- MAIN --------------*/
    /*----------- FOOTER --------------*/
    .feetBarNav ul li a {
        font-size: 24px;
    }
    /*----- Home specific css -----*/
    .heroWeather {
        max-width: 400px;
    }
    .weatherTable {
        table-layout: auto;
    }
    .heroWeather {
        margin: 0 auto;position: relative;
    }
    .weatherSum {
        position: absolute;
        top: 10px;
        left: 25px;
        background: radial-gradient(#eee, #706A6A);
        border: 1px solid #000;
        padding: 10px 1.5rem;
        box-shadow: 0 0 30px #111;
        opacity: .8;
    }
    .weather {
        display: grid;
        grid-template-columns: 400px 1fr;
        grid-gap: 10px;
    }
    .threeTables {
        margin-top: 0;
    }
    /*----- Rental specific css -----*/
    #rental {
        display: grid;
        grid-template-columns: 350px 1fr;
    }
    .wrap {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        white-space: nowrap;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .rentalTable {
        margin: 25px 0;
    }
    .rentalTable tr{
        height: 30px;
    }
    .rentalInfo {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    /*----- Reservations specific css -----*/
    form input.submitBtn {
        max-width: 700px;
        width: 40%;
        margin-left: 30%;
        margin-right: 30%
    }
    .top {
        width: 225px;
    }
    /*----- Tour specific css -----*/
    .tourCards {
        display: flex;
        flex-wrap: wrap;
    }
    .tourSection {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 1em;
    }
    .tourSection:nth-child(even) {
        flex-direction: row-reverse;
    }
    .tourInfo h2 {
        margin-top: 0;
    }
    .tourInfo {
        width: 100%;
        text-align: center;
    }
    .tourImg {
        margin: 0 auto;
        border-radius: 0 1em 1em 0;
    }
    .tourSection:nth-child(even) .tourImg {
        border-radius: 1em 0 0 1em;
    }
    /*----- Contact specific css -----*/
    .info, .contactField {
        width: 90%;
        max-width: 700px;
    }
    /*----- Pupper specific css -----*/
    #pupper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 10px;
        margin: 0 auto;
    }
    #pupper h2{
        grid-row: 1/2;
        grid-column: 1/3;
    }
} /* end of media query */