header {
    background-color:#26547C;
    font-size: 1.5;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 32px;
}

footer {
    background-color:#809848;
    font-size: 1.2em;
    text-align: center;
    padding: 28px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color:white;
    font-family: 'Open Sans Condensed', sans-serif;
}

img {
    width:200px;
}

main {
    display:grid;
    padding: 32px;
    font-size: 1;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}