body {
    max-width: 900px;
    margin: auto;
}
.corner {
    display: flex;
}
.radius, .linear, .radial{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    color: white;
}

/* Corner CSS */
.radius {
    background-color: red;
    border-radius: 5px 50px 15px 150px;
    
}
.linear {
    background: linear-gradient(135deg, transparent 45px, green 0) top left,
    linear-gradient(-135deg, transparent 45px, green 0) top right,
    linear-gradient(45deg, transparent 45px, green 0) bottom left,
    linear-gradient(-45deg, transparent 45px, green 0) bottom right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}
.radial {
    background: radial-gradient(circle at top left, transparent 45px, blue 0);
}


/* Boarder CSS */
/* Copied from W3schools border page */
p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid; border-width: 10px;}
p.double {border-style: double; border-width: 10px;}
p.none {border-style: none;}
p.hidden {border-style: hidden; border-width: 10px;}
p.groove {border-style: groove; border-width: 10px; border-color:green;}
p.ridge {border-style: ridge; border-width: 10px; border-color:green;}
p.inset {border-style: inset; border-width: 10px; border-color:green;}
p.outset {border-style: outset; border-width: 10px; border-color:green;}

p.mix {border-style: dotted dashed solid double;}

/* Shadow CSS */