@media only screen and (min-width: 32.5em) {
    body {
        font-size: 1em;
    }
    header {
        border-radius: 1em 1em 0 0;
        max-width: 700px;
        margin: 1em auto 0;
    }
    .contact{
        border-radius: 1em 1em 0 0;
    }
    .footer{
        border-radius: 0 0 1em 1em;
    }
    footer {
        max-width: 700px;
        margin: 0 auto;
    }
    nav {
        max-width: 700px;
        margin: 0 auto;
        border-radius: 0 0 1em 1em;
    }
    nav ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
    main {
        max-width: 700px;
        margin: 0 auto;
    }
    .navigation li:nth-child(2) a:hover {
        border-radius: 0 0 0 1em;
    }
    .navigation li:last-child a:hover {
        border-radius: 0 0 1em 0;
    }

    /* from ham codepen */
    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
}